/* GENERAL */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: #F0E5CF;
}

body {
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background-color: #F0E5CF;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: #000;
  text-align: center;
}

a:hover, a:focus {
  text-decoration: none;
}

button, .about_button{
  border: none;
  font-family: inherit;
  display: inline-flex;
  text-decoration: none;
  background-color: #142F43;
  font-size: 16px;
  color: #EAEAEA !important;
  margin: 30px auto;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  border-right: 2px solid rgba(0, 0, 0, 0.8);
  transition: 0.2s opacity;
}

button:hover, button:focus, .about_button:hover, .about_button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.profile, .about_body, .content{
  position: relative;
  min-height: 100%;
}

#about, #contact {
  height: 100vh;
}

/* END OF GENERAL */

/* NAVBAR */

.personal_logo {
  width: 270px;
  height: 50px;
}

.personal_logo {
  width: 270px;
  height: 50px;
}

.page_header {
  display: flex;
  /* width: 100%; */
  padding: 20px;
  border-bottom: 2px solid #142F43;
}

.page_header__item {
  flex: 0 1 200px;
}

.page_header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list__item--active {
  text-decoration: none;
}

.navigation_list {
  list-style-type: none;
}

.navigation_list li {
  display: inline-block;
  margin-left: 15px;
}

/* END OF NAVBAR */

/* MAIN */

#main {
  height: 80vh;
}

.profile {
  max-width: 700px;
  margin: 200px auto 0;
}

.profile_portrait {
  float: left;
  margin-right: 40px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

/* END OF MAIN */

/* ABOUT */

#about {
  background-color: #889EAF;
  min-width: 1000px;
}

.about_text {
  text-align: center;
  margin: auto 40px;
  padding: 20px;
  font-size: 24px;
}

.about_text h1, .about_text h3 {
  margin: 50px;
}

.about_text p {
  margin-top: 100px;
}

.tooltip {
  display: inline-block;
  position: relative;
  margin-top: 50px;
}

.skill_tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #ccc;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */

  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .skill_tooltip{
  visibility: visible;
}

.skill_logo {
  width: 40px;
  height: 40px;
  transition: transform .3s;
  margin: 10px 15px;
}

.skill_logo:hover {
  transform: scale(1.2);
}



/* END OF ABOUT */

/* WORK */

.work_title {
  text-align: center;
  margin: 100px 0;
}

.work_text {
  margin-left: 20px;
  margin-right: 20px;
}

.work_logo {
  width: 25px;
  height: 25px;
}

.project {
  position: relative;
  width: 100%;
  display: flex;
  height: 100%;
}

.project div {
  flex-direction: row;
  justify-content: center;
}

.work_image {
  position: relative;
}

.work_image img {
  width: 80%;
  height: 80%;
  float: left;
  margin-top: 30px;
}

.image_right {
  float: right !important;
}

.grid__item {
  margin: 100px 50px;
  background-color: #889EAF;
  padding: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  width: 90%;
}

.grid_right {
  text-align: right;
}



/* END OF WORK */

/* CONTACT */

.contact_content {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 250px auto;
  background-color: #889EAF;
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  border-right: 2px solid rgba(0, 0, 0, 0.7); */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

input[type=submit] {
  background-color: #000;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s opacity;
}

input[type=submit]:hover {
  opacity: 0.8;
}

#contact-email, #contact-teleph, #contact-name {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
  height: 50%;
  /* max-height: 140px;
  max-width: 800px; */
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding-bottom: 10px;
  resize: none;
}

#contact-form, .contact_title {
  margin-left: 70px;
  margin-right: 70px;
}

.standard-label__item {
  border-radius: 4px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group {
  flex-basis: 45%;
}


/* END OF CONTACT */

/* FOOTER */

footer {
  flex-direction: column;
  text-align: center;
  bottom: 0;
  width: 100%;
  /* height: -100px; */
  vertical-align: baseline;
  background-color: #142F43;
  clear: both;
}

.sm_logo {
  padding-right: 5px;
  padding-left: 5px;
  transition: 0.2s opacity ease-out;
}

.sm_logo:hover {
  cursor: pointer;
  opacity: 0.8;
}

.page_footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer_text {
  color: #EAEAEA;
}

/* END OF FOOTER */

/* MEDIA QUERIES */

@media (max-width: 370px) {
  .page_header {
    display: block;
  }
}

@media (max-width: 435px) {
  .profile_portrait {
    float: none;
  }
  svg {
    display: none;
  }
  #about_footer {
    position: absolute;
  }
  .about_body {
    padding-bottom: 150px;
  }
  #contact-form {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 641px) {
  #home_footer {
    position: static;
    bottom: 0;
  }
}

@media (max-height: 790px) {
  #home_footer {
    position: static;
    bottom: 0;
  }
  #about_footer {
    position: absolute;
  }
}

@media (max-width: 768px) {
  .about_body {
    padding-bottom: 110px;
  }
  .contact_content {
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-bottom: 200px;
  }
  .footer_text_contact {
    margin-top: 0px;
  }
}


@media (max-width: 961px) {
  #contact_footer{
    position: static;
    bottom: 0;
  }
}

@media (max-width: 845px) {
  svg {
    height: 300px
  }
}

@media (max-width: 1024px) {
  .about_body {
    padding-bottom: 200px;
  }
}

@media (max-width: 1500px) {
  #contact_footer{
    position: static;
  }
}

@media (max-width: 1250px) {
  .grid__item {
    width: 45%;
  }
}

@media (max-width: 830px) {
  .grid__item {
    width: 80%;
  }
}

/* END OF MEDIA QUERIES */

