/* @@ -0,0 +1,273 @@ */
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #F0E9D2;
  --secondary-color: #F0E5CF;
  --footer-color: #142F43;
  --third-color: #8E8D8A;
  --grid-color: #889EAF;
  --link-color: #000;
  --link-secondary: #000;
  --first-sun-color: #edc655;
  --second-sun-color: #fcffad;
  --third-sun-color: #f76414;
  --border-color: #D3D3D3;
  --text-color: #EEEEEE;
  --bold-text: 700;
  --center-text: center;
  --h1-size: 30px;
  --h2-size: 24px;
  --h3-size: 18px;
}

header {
  background-color: var(--secondary-color);
}

body {
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background-color: var(--secondary-color);
}

footer {
  flex-direction: column;
  text-align: center;
  bottom: 0;
  width: 100%;
  /* height: -100px; */
  vertical-align: baseline;
  background-color: var(--footer-color);
  clear: both;
}

h1 {
  font-size: var(--h1-size);
  font-weight: var(--bold-text);
}

h2 {
  font-size: var(--h2-size);
  font-weight: var(--bold-text);
}

h3 {
  font-size: var(--h3-size);
  font-weight: var(--bold-text);
}

table, td{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: var(--center-text);
  margin: 0px auto;
}

a {
  color: #000;
  text-align: center;
}

svg {
  height: 550px;
}

a:visited {
  color: var(--link-visited);
}

a:hover, a:focus {
  text-decoration: none;
}

a:active {
  color: var(--link-active);
}

button, .about_button{
  border: none;
  font-family: inherit;
  display: inline-flex;
  text-decoration: none;
  background-color: var(--footer-color);
  font-size: 16px;
  color: #EAEAEA !important;
  margin: 30px auto;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  border-right: 2px solid rgba(0, 0, 0, 0.8);
  transition: 0.2s opacity;
}

button:hover, button:focus, .about_button:hover, .about_button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.personal_logo {
  width: 270px;
  height: 50px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.navigation_list {
  list-style-type: none;
}

.navigation_list li {
  display: inline-block;
  margin-left: 15px;
}

/* .page_footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
} */

.sm_logo {
  padding-right: 5px;
  padding-left: 5px;
  transition: 0.2s opacity ease-out;
}

.sm_logo:hover {
  cursor: pointer;
  opacity: 0.8;
}

.profile {
  max-width: 700px;
  margin: 150px auto;
}

.profile_portrait {
  float: left;
  margin-right: 40px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.page_header {
  display: flex;
  /* width: 100%; */
  padding: 20px;
  border-bottom: 2px solid var(--footer-color);
}

.page_header__item {
  flex: 0 1 200px;
}

.page_header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

/* WORK GRID */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.grid__item {
  background-color: var(--grid-color);
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  /* color: var(--text-color); */
}

.about_text {
  text-align: var(--center-text);
  max-width: 700px;
  margin: 0 auto;
}

.td_titles {
  font-weight: var(--bold-text);
}

.td__item, .td_titles {
  padding-left: 10px;
  padding-right: 10px;
}

.about_body, .work_title {
  text-align: var(--center-text);
}

.profile, .about_body, .content{
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
}

.page_footer {
  position: absolute;
}

.footer_text {
  color: #EAEAEA;
}

/* CONTACT FORM */
.contact_content {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 50px auto;
  background-color: var(--grid-color);
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  border-right: 2px solid rgba(0, 0, 0, 0.7); */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

input[type=submit] {
  background-color: #000;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s opacity;
}

input[type=submit]:hover {
  opacity: 0.8;
}

#contact-email, #contact-teleph, #contact-name {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
  /* max-height: 140px;
  max-width: 800px; */
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding-bottom: 10px;
  resize: none;
}

#contact-form {
  margin-left: 70px;
  margin-right: 70px;
}

.standard-label__item {
  border-radius: 4px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group {
  flex-basis: 45%;
}

/* SVG */

.sun {
  /* animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear; */
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  /* animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear; */
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes color-change {
  0% {
    fill: var(--first-sun-color);
  }
  50% {
    fill: var(--second-sun-color);
  }
  100% {
    fill: var(--third-sun-color);
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }

}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:lastchild {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@media (max-width: 1150px) {
  .input-row {
    display: block;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .input-group-email {
    margin-top: 40px;
  }

  #contact_footer {
    position: static;
  }

}

/* @media (max-height: 850px) {
  .contact_footer{
    position: static;
    bottom: 0;
  }
}

@media (max-width:500px) {
  .page_footer {
    position: static;
    bottom: 0;
  }
} */

@media (max-width: 370px) {
  .page_header {
    display: block;
  }
}

@media (max-width: 435px) {
  .profile_portrait {
    float: none;
  }
  svg {
    display: none;
  }
  #about_footer {
    position: absolute;
  }
  .about_body {
    padding-bottom: 150px;
  }
  #contact-form {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 641px) {
  #home_footer {
    position: static;
    bottom: 0;
  }
}

@media (max-height: 790px) {
  #home_footer {
    position: static;
    bottom: 0;
  }
  #about_footer {
    position: absolute;
  }
}

@media (max-width: 768px) {
  .about_body {
    padding-bottom: 110px;
  }
  .contact_content {
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-bottom: 200px;
  }
  .footer_text_contact {
    margin-top: 0px;
  }
}


@media (max-width: 961px) {
  #contact_footer{
    position: static;
    bottom: 0;
  }
}

@media (max-width: 845px) {
  svg {
    height: 300px
  }
}

@media (max-width: 1024px) {
  .about_body {
    padding-bottom: 200px;
  }
}

@media (max-width: 1500px) {
  #contact_footer{
    position: static;
  }
}
